.dashboard-container {
    padding: 40px;
}

.dashboard-container h1 {
    margin-bottom: 10px;
}

.dashboard-container p {
    color: #555;
}

.stats-container {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}
.stat-card{
    background:white;
    padding:25px;
    border-radius:15px;
    display:flex;
    align-items:center;
    gap:20px;
    transition:.3s;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.stat-card:hover{
    transform:translateY(-8px);
}

.stat-icon {
    font-size: 35px;
    color: #1D546C;
}

.stat-card h3 {
    font-size: 16px;
    margin-bottom: 12px;
}

.stat-card p {
    font-size: 21px;
    font-weight: bold;
    color: #1D546C;
}
.actions-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.action-card {
    width: 250px;
    background: white;
    padding: 25px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    transition: .3s;
}

.action-card:hover{
    transform: translateY(-8px);
}
.action-icon{
    font-size:35px;
    color:#1D546C;
    margin-bottom:15px;
}
.action-card h3{
    margin-bottom:10px;
}
.action-card p{
    color:gray;
    font-size:14px;
}

.welcome-banner {
    background: linear-gradient(135deg,#1D546C,#2F7A9A);
    color: white;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}
.weather-box{
    background:white;
    padding:20px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}
.weather-box h3{
    margin-top:15px;
    margin-bottom:8px;
    color:black;
}
.welcome-banner h1{
    margin-bottom:10px;
}
.welcome-banner p{
    opacity:0.9;
}
.resident-count{
    text-align:center;
}
.resident-count h2{
    font-size:40px;
    margin:0;
}
.resident-count span{
    font-size:18px;
}
h2{
    font-size: 22px;
    margin: 10px 10px;
}



@media (max-width:768px){

.welcome-banner{

    flex-direction:column;

    text-align:center;

}

.stats-container{

    grid-template-columns:1fr;

}

.actions-container{

    grid-template-columns:1fr;

}

.notice-container{

    grid-template-columns:1fr;

}

}