.nav-links a{

    color:black;

    text-decoration:none;

    padding:8px 15px;

    border-radius:8px;

    transition:.3s;

}

.nav-links a:hover{

    background:white;

    color:#1D546C;

}

.nav-links .active{

    background:white;

    color:#1D546C;

    font-weight:bold;

}