@media (max-width:768px){

.navbar{

    flex-direction:column;

    gap:20px;

    padding:20px;

}

.nav-links{

    display:flex;

    flex-wrap:wrap;

    justify-content:center;

    gap:10px;

}

}